@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,600;0,800;1,600&display=swap');

* {
    box-sizing: border-box;
    font-family: Figtree, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    background-color: hsl(47, 88%, 63%);
}

.main * {
    display: flex;
    justify-content: space-around;
    flex: 1;
}

.blog-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    box-shadow: 5px 5px 1px;
    border-radius: 15px;
    /* max-width: 300px;
    max-height: 900px; */
    padding: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding: 10px; */
    max-width: 336px;
    margin-top: 10px;
}

.image img {
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
}

h2 {
    background-color: hsl(47, 88%, 63%);
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    font-weight: 800;
    padding: 5px 10px;
    margin-bottom: 5px;
}

.date {
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
}

h1 {
    font-size: 24px;
    font-weight: 800;
    margin: 15px 0;
}

h1:hover {
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}

.description {
    font-size: 16px;
    color: hsl(0, 0%, 50%);
    line-height: 1.5em;
    margin-bottom: 10px;
}

.author-info {
    display: flex;
    align-items: center;
    flex: 1;
    margin-top: 5px;
}

.author-image {
    max-width: 20%;
}

.author {
    font-size: 12px;
    font-weight: 800;
    margin-right: auto;
    justify-content: flex-start;
    margin-left: 10px;
}